<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils - Text Editor</title>
</head>
<body>
<h1>
    Welcome to TextUtils! Enter your text below
</h1>
<form action="/analyze" method="post">{% csrf_token %}
    <textarea name="text"></textarea>
    <input type="checkbox" name="removepunc"> Remove Punctuations
    <input type="checkbox" name="fullcaps"> Uppercase
    <input type="checkbox" name="newlineremove"> Remove New Line
    <input type="checkbox" name="extraspaceremover"> Remove Extra Space
    <input type="checkbox" name="numberremover"> Remove Numbers
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>